In [1]:
# Problem 1: Write a program to reverse a string.
def reverse_string(string):
    return string[::-1]

In [2]:
original_string = "hello world"
reversed_string = reverse_string(original_string)
print(reversed_string)

dlrow olleh

In [3]:
# Problem 2: Check if a string is a palindrome.
def is_palindrome(string):
    return string == string[::-1]

In [4]:
string = "radar"
print(is_palindrome(string))

True

In [5]:
# Problem 3: Convert a string to uppercase.
string = "hello world"
uppercase_string = string.upper()
print(uppercase_string)

HELLO WORLD

In [6]:
# Problem 4: Convert a string to lowercase.
string = "HELLO WORLD"
lowercase_string = string.lower()
print(lowercase_string)

hello world

In [7]:
# Problem 5: Count the number of vowels in a string.
def count_vowels(string):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in string if char in vowels)

In [8]:
string = "Hello World"
print(count_vowels(string))

3

In [9]:
# Problem 6: Count the number of consonants in a string.
def count_consonants(string):
    consonants = 'bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ'
    return sum(1 for char in string if char in consonants)

In [10]:
string = "Hello World"
print(count_consonants(string))

7

In [11]:
# Problem 7: Remove all whitespaces from a string.
string = "hello world"
no_whitespace_string = string.replace(" ", "")
print(no_whitespace_string)

helloworld

In [12]:
# Problem 8: Find the length of a string without using the `len()` function.
string = "hello world"
length = sum(1 for char in string)
print(length)

11

In [13]:
# Problem 9: Check if a string contains a specific word.
string = "hello world"
specific_word = "world"
contains_word = specific_word in string
print(contains_word)

True

In [14]:
# Problem 10: Replace a word in a string with another word.
string = "hello world"
replaced_string = string.replace("world", "universe")
print(replaced_string)

hello universe

In [15]:
# Problem 11: Count the occurrences of a word in a string.
string = "hello world hello"
word_to_count = "hello"
count = string.count(word_to_count)
print(count)

2

In [16]:
# Problem 12: Find the first occurrence of a word in a string.
string = "hello world hello"
word_to_find = "hello"
first_occurrence = string.find(word_to_find)
print(first_occurrence)

0

In [17]:
# Problem 13: Find the last occurrence of a word in a string.
string = "hello world hello"
word_to_find = "hello"
last_occurrence = string.rfind(word_to_find)
print(last_occurrence)

12

In [18]:
# Problem 14: Split a string into a list of words.
string = "hello world"
word_list = string.split()
print(word_list)

['hello', 'world']

In [19]:
# Problem 15: Join a list of words into a string.
word_list = ["hello", "world"]
string = ' '.join(word_list)
print(string)

hello world

In [20]:
# Problem 16: Convert a string where words are separated by spaces to one where words are separated by underscores.
string = "hello world"
underscore_string = string.replace(" ", "_")
print(underscore_string)

hello_world

In [21]:
# Problem 17: Check if a string starts with a specific word or phrase.
string = "hello world"
starts_with_hello = string.startswith("hello")
print(starts_with_hello)

True

In [22]:
# Problem 18: Check if a string ends with a specific word or phrase.
string = "hello world"
ends_with_world = string.endswith("world")
print(ends_with_world)

True

In [23]:
# Problem 19: Convert a string to title case (e.g., "hello world" to "Hello World").
string = "hello world"
title_case_string = string.title()
print(title_case_string)

Hello World

In [24]:
# Problem 20: Find the longest word in a string.
string = "hello world"
longest_word = max(string.split(), key=len)
print(longest_word)

hello

In [25]:
# Problem 21: Find the shortest word in a string.
string = "hello world"
shortest_word = min(string.split(), key=len)
print(shortest_word)

hello

In [26]:
# Problem 22: Reverse the order of words in a string.
string = "hello world"
reversed_words_string = ' '.join(string.split()[::-1])
print(reversed_words_string)

world hello

In [27]:
# Problem 23: Check if a string is alphanumeric.
string = "hello123"
is_alphanumeric = string.isalnum()
print(is_alphanumeric)

True

In [28]:
# Problem 24: Extract all digits from a string.
import re
string = "hello123"
digits = re.findall(r'\d', string)
print(digits)

['1', '2', '3']

In [29]:
# Problem 25: Extract all alphabets from a string.
string = "hello123"
alphabets = re.findall(r'[a-zA-Z]', string)
print(alphabets)

['h', 'e', 'l', 'l', 'o']

In [30]:
# Problem 26: Count the number of uppercase letters in a string.
string = "Hello World"
uppercase_count = sum(1 for char in string if char.isupper())
print(uppercase_count)

2

In [31]:
# Problem 27: Count the number of lowercase letters in a string.
string = "Hello World"
lowercase_count = sum(1 for char in string if char.islower())
print(lowercase_count)

8

In [32]:
# Problem 28: Swap the case of each character in a string.
string = "Hello World"
swapped_case_string = string.swapcase()
print(swapped_case_string)

hELLO wORLD

In [33]:
# Problem 29: Remove a specific word from a string.
string = "hello world"
word_to_remove = "world"
removed_string = string.replace(word_to_remove, "")
print(removed_string)

hello

In [34]:
# Problem 30: Check if a string is a valid email address.
import re
def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return bool(re.match(pattern, email))

In [35]:
email = "example@example.com"
print(is_valid_email(email))

True

In [36]:
# Problem 31: Extract the username from an email address string.
import re
def extract_username(email):
    pattern = r'^([a-zA-Z0-9._%+-]+)@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    match = re.match(pattern, email)
    if match:
        return match.group(1)
    else:
        return None

In [37]:
email = "example@example.com"
username = extract_username(email)
print(username)

example

In [38]:
# Problem 32: Extract the domain name from an email address string.
import re
def extract_domain(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@([a-zA-Z0-9.-]+)\.[a-zA-Z]{2,}$'
    match = re.match(pattern, email)
    if match:
        return match.group(1)
    else:
        return None

In [39]:
email = "example@example.com"
domain = extract_domain(email)
print(domain)

example

In [40]:
# Problem 33: Replace multiple spaces in a string with a single space.
import re
def replace_multiple_spaces(string):
    return re.sub(r'\s+', ' ', string)

In [41]:
string = "hello    world"
new_string = replace_multiple_spaces(string)
print(new_string)

hello world

In [42]:
# Problem 34: Check if a string is a valid URL.
import re
def is_valid_url(url):
    pattern = r'^(http|https):\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,}(\/\S*)?$'
    return bool(re.match(pattern, url))

In [43]:
url = "https://www.example.com"
print(is_valid_url(url))

True

In [44]:
# Problem 35: Extract the protocol (http or https) from a URL string.
import re
def extract_protocol(url):
    pattern = r'^(http|https):\/\/'
    match = re.match(pattern, url)
    if match:
        return match.group(1)
    else:
        return None

In [45]:
url = "https://www.example.com"
protocol = extract_protocol(url)
print(protocol)

https

In [46]:
# Problem 36: Find the frequency of each character in a string.
def character_frequency(string):
    frequency = {}
    for char in string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

In [47]:
string = "hello world"
frequency = character_frequency(string)
print(frequency)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [50]:
# Problem 37: Remove all punctuation from a string.
url ='https://gray-dentist-hsrua.pwskills.app/lab/tree/work/Assignments/String%20Based%20Assignment%20.ipynb'
import string
table = url.maketrans("","",string.punctuation)

url.translate(table)

'httpsgraydentisthsruapwskillsapplabtreeworkAssignmentsString20Based20Assignment20ipynb'

In [51]:
# Problem 38: Check if a string contains only digits.
def contains_only_digits(string):
    return string.isdigit()

In [52]:
string = "12345"
print(contains_only_digits(string))

True

In [53]:
# Problem 39: Check if a string contains only alphabets.
def contains_only_alphabets(string):
    return string.isalpha()

In [54]:
string = "hello"
print(contains_only_alphabets(string))

True

In [55]:
# Problem 40: Convert a string to a list of characters.
string = "hello"
character_list = list(string)
print(character_list)

['h', 'e', 'l', 'l', 'o']

In [56]:
# Problem 41: Check if two strings are anagrams.
def are_anagrams(string1, string2):
    return sorted(string1) == sorted(string2)

In [57]:
string1 = "listen"
string2 = "silent"
print(are_anagrams(string1, string2))

True

In [58]:
# Problem 42: Encode a string using a Caesar cipher.
def caesar_cipher_encrypt(string, shift):
    encrypted_string = ''
    for char in string:
        if char.isalpha():
            shifted = ord(char) + shift
            if char.islower():
                if shifted > ord('z'):
                    shifted -= 26
                encrypted_string += chr(shifted)
            elif char.isupper():
                if shifted > ord('Z'):
                    shifted -= 26
                encrypted_string += chr(shifted)
        else:
            encrypted_string += char
    return encrypted_string

In [59]:
string = "hello"
encrypted_string = caesar_cipher_encrypt(string, 3)
print(encrypted_string)

khoor

In [60]:
# Problem 43: Decode a Caesar cipher encoded string.
def caesar_cipher_decrypt(string, shift):
    decrypted_string = ''
    for char in string:
        if char.isalpha():
            shifted = ord(char) - shift
            if char.islower():
                if shifted < ord('a'):
                    shifted += 26
                decrypted_string += chr(shifted)
            elif char.isupper():
                if shifted < ord('A'):
                    shifted += 26
                decrypted_string += chr(shifted)
        else:
            decrypted_string += char
    return decrypted_string

In [61]:
string = "khoor"
decrypted_string = caesar_cipher_decrypt(string, 3)
print(decrypted_string)

hello

In [62]:
# Problem 44: Find the most frequent word in a string.
def most_frequent_word(string):
    words = string.split()
    frequency = {}
    for word in words:
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1
    return max(frequency, key=frequency.get)

In [63]:
string = "hello world hello"
most_frequent = most_frequent_word(string)
print(most_frequent)

hello

In [64]:
# Problem 45: Find all unique words in a string.
def unique_words(string):
    words = string.split()
    return set(words)

In [65]:
string = "hello world hello"
unique = unique_words(string)
print(unique)

{'hello', 'world'}

In [66]:
# Problem 46: Count the number of syllables in a string.
def count_syllables(string):
    syllables = 0
    vowels = 'aeiouyAEIOUY'
    prev_char_was_vowel = False
    for char in string:
        if char in vowels:
            if not prev_char_was_vowel:
                syllables += 1
            prev_char_was_vowel = True
        else:
            prev_char_was_vowel = False
    return syllables

In [67]:
string = "hello"
syllables = count_syllables(string)
print(syllables)

2

In [76]:
# Problem 47: Check if a string contains any special characters.
import string as st
def contains_special_characters(a):
    special_characters = st.punctuation
    for char in a:
        if char in special_characters:
            return True
    return False

In [77]:
string = "hello!@#$%"
print(contains_special_characters(string))

True

In [78]:
# Problem 48: Remove the nth word from a string.
def remove_nth_word(string, n):
    words = string.split()
    if 0 <= n < len(words):
        del words[n]
    return ' '.join(words)

In [79]:
string = "hello world how are you"
new_string = remove_nth_word(string, 2)
print(new_string)

hello world are you

In [80]:
# Problem 49: Insert a word at the nth position in a string.
def insert_word(string, word, n):
    words = string.split()
    words.insert(n, word)
    return ' '.join(words)

In [81]:
string = "hello world how you"
new_string = insert_word(string, "are", 2)
print(new_string)

hello world are how you

In [82]:
# Problem 50: Convert a CSV string to a list of lists.
def csv_to_list(csv_string):
    return [row.split(',') for row in csv_string.split('\n') if row]

In [83]:
csv_string = "1,2,3\n4,5,6\n7,8,9"
list_of_lists = csv_to_list(csv_string)
print(list_of_lists)

[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

In [84]:
# List Based Practice Problem:
# Problem 1: Create a list with integers from 1 to 10.
integer_list = list(range(1, 11))
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
# Problem 2: Find the length of a list without using the `len()` function.
def length_of_list(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

In [86]:
integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length = length_of_list(integer_list)
print(length)

10

In [87]:
# Problem 3: Append an element to the end of a list.
integer_list = [1, 2, 3, 4, 5]
integer_list.append(6)
print(integer_list)

[1, 2, 3, 4, 5, 6]

In [88]:
# Problem 4: Insert an element at a specific index in a list.
integer_list = [1, 2, 3, 4, 5]
integer_list.insert(2, 10)
print(integer_list)

[1, 2, 10, 3, 4, 5]

In [89]:
# Problem 5: Remove an element from a list by its value.
integer_list = [1, 2, 3, 4, 5]
integer_list.remove(3)
print(integer_list)

[1, 2, 4, 5]

In [90]:
# Problem 6: Remove an element from a list by its index.
integer_list = [1, 2, 3, 4, 5]
del integer_list[3]
print(integer_list)

[1, 2, 3, 5]

In [91]:
# Problem 7: Check if an element exists in a list.
integer_list = [1, 2, 3, 4, 5]
exists = 3 in integer_list
print(exists)

True

In [92]:
# Problem 8: Find the index of the first occurrence of an element in a list.
integer_list = [1, 2, 3, 4, 5]
index = integer_list.index(3)
print(index)

2

In [93]:
# Problem 9: Count the occurrences of an element in a list.
integer_list = [1, 2, 3, 4, 5, 3, 3]
count = integer_list.count(3)
print(count)

3

In [94]:
# Problem 10: Reverse the order of elements in a list.
integer_list = [1, 2, 3, 4, 5]
integer_list.reverse()
print(integer_list)

[5, 4, 3, 2, 1]

In [95]:
# Problem 11: Sort a list in ascending order.
integer_list = [3, 1, 4, 2, 5]
integer_list.sort()
print(integer_list)

[1, 2, 3, 4, 5]

In [96]:
# Problem 12: Sort a list in descending order.
integer_list = [3, 1, 4, 2, 5]
integer_list.sort(reverse=True)
print(integer_list)

[5, 4, 3, 2, 1]

In [97]:
# Problem 13: Create a list of even numbers from 1 to 20.
even_numbers = [i for i in range(2, 21, 2)]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [98]:
# Problem 14: Create a list of odd numbers from 1 to 20.
odd_numbers = [i for i in range(1, 21, 2)]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [99]:
# Problem 15: Find the sum of all elements in a list.
integer_list = [1, 2, 3, 4, 5]
total = sum(integer_list)
print(total)

15

In [100]:
# Problem 16: Find the maximum value in a list.
integer_list = [1, 2, 3, 4, 5]
maximum = max(integer_list)
print(maximum)

5

In [101]:
# Problem 17: Find the minimum value in a list.
integer_list = [1, 2, 3, 4, 5]
minimum = min(integer_list)
print(minimum)

1

In [102]:
# Problem 18: Create a list of squares of numbers from 1 to 10.
squared_numbers = [i**2 for i in range(1, 11)]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [103]:
# Problem 19: Create a list of random numbers.
import random
random_numbers = [random.randint(1, 100) for _ in range(10)]
print(random_numbers)

[86, 94, 13, 78, 83, 50, 92, 38, 92, 65]

In [104]:
# Problem 20: Remove duplicates from a list.
integer_list = [1, 2, 3, 3, 4, 4, 5, 5]
unique_list = list(set(integer_list))
print(unique_list)

[1, 2, 3, 4, 5]

In [105]:
# Problem 21: Find the common elements between two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = list(set(list1) & set(list2))
print(common_elements)

[4, 5]

In [106]:
# Problem 22: Find the difference between two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
difference = list(set(list1) - set(list2))
print(difference)

[1, 2, 3]

In [107]:
# Problem 23: Merge two lists.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [108]:
# Problem 24: Multiply all elements in a list by 2.
integer_list = [1, 2, 3, 4, 5]
doubled_list = [x * 2 for x in integer_list]
print(doubled_list)

[2, 4, 6, 8, 10]

In [109]:
# Problem 25: Filter out all even numbers from a list.
integer_list = [1, 2, 3, 4, 5]
filtered_list = [x for x in integer_list if x % 2 != 0]
print(filtered_list)

[1, 3, 5]

In [110]:
# 26. Convert a list of strings to a list of integers.
string_list = ["1", "2", "3", "4", "5"]
integer_list = list(map(int, string_list))
print(integer_list)

[1, 2, 3, 4, 5]

In [111]:
# 27. Convert a list of integers to a list of strings.
integer_list = [1, 2, 3, 4, 5]
string_list = list(map(str, integer_list))
print(string_list)

['1', '2', '3', '4', '5']

In [112]:
# 28. Flatten a nested list.
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [113]:
# 29. Create a list of the first 10 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        fibonacci_list.append(fibonacci_list[-1] + fibonacci_list[-2])
    return fibonacci_list

In [114]:
fibonacci_numbers = generate_fibonacci(10)
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [115]:
# 30. Check if a list is sorted.
def is_sorted(lst):
    return all(lst[i] <= lst[i+1] for i in range(len(lst)-1))

In [116]:
print(is_sorted([1, 2, 3, 4, 5]))  # True
print(is_sorted([5, 4, 3, 2, 1]))  # False

True
False

In [117]:
# 31. Rotate a list to the left by `n` positions.
def rotate_left(lst, n):
    n = n % len(lst)
    return lst[n:] + lst[:n]

In [118]:
print(rotate_left([1, 2, 3, 4, 5], 2))  # [3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

In [119]:
# 32. Rotate a list to the right by `n` positions.
def rotate_right(lst, n):
    n = n % len(lst)
    return lst[-n:] + lst[:-n]

In [120]:
print(rotate_right([1, 2, 3, 4, 5], 2))  # [4, 5, 1, 2, 3]

[4, 5, 1, 2, 3]

In [121]:
# 33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

In [122]:
prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [123]:
# 34. Split a list into chunks of size `n`.
def chunk_list(lst, n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]

In [124]:
print(chunk_list([1, 2, 3, 4, 5, 6, 7, 8, 9], 3))  # [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [125]:
# 35. Find the second largest number in a list.
def second_largest(lst):
    unique_nums = sorted(set(lst), reverse=True)
    if len(unique_nums) > 1:
        return unique_nums[1]
    else:
        return None

In [126]:
print(second_largest([1, 2, 3, 4, 5]))  # 4

4

In [127]:
# 36. Replace every element in a list with its square.
original_list = [1, 2, 3, 4, 5]
squared_list = [x**2 for x in original_list]
print(squared_list)

[1, 4, 9, 16, 25]

In [128]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
my_list = ['a', 'b', 'c', 'd']
my_dict = {value: index for index, value in enumerate(my_list)}
print(my_dict)

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [129]:
# 38. Shuffle the elements of a list randomly.
import random
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[3, 2, 5, 1, 4]

In [130]:
# 39. Create a list of the first 10 factorial numbers.
import math
factorial_numbers = [math.factorial(i) for i in range(10)]
print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [131]:
# 40. Check if two lists have at least one element in common.
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
list3 = [5, 6, 7, 8, 9]
print(set(list1) & set(list2))  # Empty set
print(set(list1) & set(list3))  # {5}

set()
{5}

In [132]:
# 41. Remove all elements from a list.
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

In [133]:
# 42. Replace negative numbers in a list with 0.
original_list = [1, -2, 3, -4, 5, -6]
modified_list = [x if x >= 0 else 0 for x in original_list]
print(modified_list)

[1, 0, 3, 0, 5, 0]

In [134]:
# 43. Convert a string into a list of words.
my_string = "Hello, world! This is a test."
word_list = my_string.split()
print(word_list)

['Hello,', 'world!', 'This', 'is', 'a', 'test.']

In [135]:
# 44. Convert a list of words into a string.
word_list = ['Hello,', 'world!', 'This', 'is', 'a', 'test.']
my_string = ' '.join(word_list)
print(my_string)

Hello, world! This is a test.

In [136]:
# 45. Create a list of the first `n` powers of 2.
n = 5
powers_of_2 = [2**i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

In [137]:
# 46. Find the longest string in a list of strings.
string_list = ["apple", "banana", "orange", "strawberry"]
longest_string = max(string_list, key=len)
print(longest_string)

strawberry

In [138]:
# 47. Find the shortest string in a list of strings.
string_list = ["apple", "banana", "orange", "strawberry"]
shortest_string = min(string_list, key=len)
print(shortest_string)

apple

In [139]:
# 48. Create a list of the first `n` triangular numbers.
def triangular_number(n):
    return [i*(i+1)//2 for i in range(1, n+1)]

In [140]:
print(triangular_number(5))

[1, 3, 6, 10, 15]

In [141]:
# 49. Check if a list contains another list as a subsequence.
def is_subsequence(sub, lst):
    sub_iter = iter(sub)
    return all(item in lst for item in sub_iter)

In [142]:
print(is_subsequence([2, 3, 4], [1, 2, 3, 4, 5]))  # True
print(is_subsequence([2, 4, 6], [1, 2, 3, 4]))  # False

True
False

In [143]:
# 50. Swap two elements in a list by their indices.
def swap_elements(lst, index1, index2):
    lst[index1], lst[index2] = lst[index2], lst[index1]

In [144]:
my_list = [1, 2, 3, 4, 5]
swap_elements(my_list, 1, 3)
print(my_list)  # [1, 4, 3, 2, 5]

[1, 4, 3, 2, 5]

In [145]:
##Tuple Based Practice Problem :
# 1. Create a tuple with integers from 1 to 5.
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [146]:
# 2. Access the third element of a tuple.
third_element = my_tuple[2]
print(third_element)

3

In [147]:
# 3. Find the length of a tuple without using the `len()` function.
tuple_length = sum(1 for _ in my_tuple)
print(tuple_length)

5

In [148]:
# 4. Count the occurrences of an element in a tuple.
element_count = my_tuple.count(3)
print(element_count)

1

In [149]:
# 5. Find the index of the first occurrence of an element in a tuple.
index = my_tuple.index(3)
print(index)

2

In [150]:
# 6. Check if an element exists in a tuple.
element_exists = 3 in my_tuple
print(element_exists)

True

In [151]:
# 7. Convert a tuple to a list.
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [152]:
# 8. Convert a list to a tuple.
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [153]:
# 9. Unpack the elements of a tuple into variables.
a, b, c, d, e = my_tuple
print(a, b, c, d, e)

1 2 3 4 5

In [154]:
# 10. Create a tuple of even numbers from 1 to 10.
even_numbers = tuple(num for num in range(1, 11) if num % 2 == 0)
print(even_numbers)

(2, 4, 6, 8, 10)

In [155]:
# 11. Create a tuple of odd numbers from 1 to 10.
odd_numbers = tuple(num for num in range(1, 11) if num % 2 != 0)
print(odd_numbers)

(1, 3, 5, 7, 9)

In [156]:
# 12. Concatenate two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [157]:
# 13. Repeat a tuple three times.
repeated_tuple = my_tuple * 3
print(repeated_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [158]:
# 14. Check if a tuple is empty.
empty_tuple = ()
is_empty = not bool(empty_tuple)
print(is_empty)

True

In [159]:
# 15. Create a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple)

((1, 2), (3, 4), (5, 6))

In [160]:
# 16. Access the first element of a nested tuple.
first_element = nested_tuple[0][0]
print(first_element)

1

In [161]:
# 17. Create a tuple with a single element.
single_element_tuple = (1,)
print(single_element_tuple)

(1,)

In [162]:
# 18. Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
comparison_result = (tuple1 > tuple2) - (tuple1 < tuple2)
print(comparison_result)

-1

In [163]:
# 19. Delete a tuple.
del my_tuple
# my_tuple is now deleted.

In [164]:
# 20. Slice a tuple.
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[2:4]
print(sliced_tuple)

(3, 4)

In [165]:
# 21. Find the maximum value in a tuple.
max_value = max(my_tuple)
print(max_value)

5

In [166]:
# 22. Find the minimum value in a tuple.
min_value = min(my_tuple)
print(min_value)

1

In [167]:
# 23. Convert a string to a tuple of characters.
string = "hello"
char_tuple = tuple(string)
print(char_tuple)

('h', 'e', 'l', 'l', 'o')

In [168]:
# 24. Convert a tuple of characters to a string.
char_tuple = ('h', 'e', 'l', 'l', 'o')
string = ''.join(char_tuple)
print(string)

hello

In [169]:
# 25. Create a tuple from multiple data types.
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [170]:
# 26. Check if two tuples are identical.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical = tuple1 == tuple2
print(are_identical)

True

In [171]:
# 27. Sort the elements of a tuple.
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

(1, 2, 3, 4, 5)

In [172]:
# 28. Convert a tuple of integers to a tuple of strings.
int_tuple = (1, 2, 3)
str_tuple = tuple(str(num) for num in int_tuple)
print(str_tuple)

('1', '2', '3')

In [173]:
# 29. Convert a tuple of strings to a tuple of integers.
str_tuple = ('1', '2', '3')
int_tuple = tuple(int(num) for num in str_tuple)
print(int_tuple)

(1, 2, 3)

In [174]:
# 30. Merge two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [175]:
# 31. Flatten a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

In [176]:
# 32. Create a tuple of the first 5 prime numbers.
prime_numbers = (2, 3, 5, 7, 11)
print(prime_numbers)

(2, 3, 5, 7, 11)

In [177]:
# 33. Check if a tuple is a palindrome.
tuple1 = (1, 2, 3, 2, 1)
is_palindrome = tuple1 == tuple1[::-1]
print(is_palindrome)

True

In [178]:
# 34. Create a tuple of squares of numbers from 1 to 5.
squared_tuple = tuple(num**2 for num in range(1, 6))
print(squared_tuple)

(1, 4, 9, 16, 25)

In [179]:
# 35. Filter out all even numbers from a tuple.
filtered_tuple = tuple(filter(lambda x: x % 2 != 0, my_tuple))
print(filtered_tuple)

(1, 3, 5)

In [180]:
# 36. Multiply all elements in a tuple by 2.
multiplied_tuple = tuple(x * 2 for x in my_tuple)
print(multiplied_tuple)

(2, 4, 6, 8, 10)

In [181]:
# 37. Create a tuple of random numbers.
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_tuple)

(36, 62, 11, 46, 77)

In [182]:
# 38. Check if a tuple is sorted.
is_sorted = sorted_tuple == tuple(sorted_tuple)
print(is_sorted)

True

In [183]:
# 39. Rotate a tuple to the left by `n` positions.
def rotate_left_tuple(tup, n):
    n = n % len(tup)
    return tup[n:] + tup[:n]

In [184]:
rotated_tuple = rotate_left_tuple(my_tuple, 2)
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [185]:
# 40. Rotate a tuple to the right by `n` positions.
def rotate_right_tuple(tup, n):
    n = n % len(tup)
    return tup[-n:] + tup[:-n]

In [186]:
rotated_tuple = rotate_right_tuple(my_tuple, 2)
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [187]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        fibonacci_list.append(fibonacci_list[-1] + fibonacci_list[-2])
    return tuple(fibonacci_list)

In [188]:
fibonacci_numbers = generate_fibonacci(5)
print(fibonacci_numbers)

(0, 1, 1, 2, 3)

In [189]:
# 42. Create a tuple from user input.
user_input = input("Enter elements separated by commas: ")
user_tuple = tuple(user_input.split(','))
print(user_tuple)

('1', '2', '3')

In [190]:
# 43. Swap two elements in a tuple.
def swap_elements_tuple(tup, index1, index2):
    lst = list(tup)
    lst[index1], lst[index2] = lst[index2], lst[index1]
    return tuple(lst)

In [191]:
swapped_tuple = swap_elements_tuple(my_tuple, 1, 3)
print(swapped_tuple)

(1, 4, 3, 2, 5)

In [192]:
# 44. Reverse the elements of a tuple.
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [193]:
# 45. Create a tuple of the first `n` powers of 2.
n = 5
powers_of_2 = tuple(2**i for i in range(n))
print(powers_of_2)

(1, 2, 4, 8, 16)

In [194]:
# 46. Find the longest string in a tuple of strings.
string_tuple = ("apple", "banana", "orange", "strawberry")
longest_string = max(string_tuple, key=len)
print(longest_string)

strawberry

In [195]:
# 47. Find the shortest string in a tuple of strings.
shortest_string = min(string_tuple, key=len)
print(shortest_string)

apple

In [196]:
# 48. Create a tuple of the first `n` triangular numbers.
def triangular_number(n):
    return tuple(i*(i+1)//2 for i in range(1, n+1))

In [197]:
triangular_numbers = triangular_number(5)
print(triangular_numbers)

(1, 3, 6, 10, 15)

In [198]:
# 49. Check if a tuple contains another tuple as a subsequence.
def is_subsequence_tuple(sub, tup):
    sub_iter = iter(sub)
    return all(item in tup for item in sub_iter)

In [199]:
sub_tuple = (2, 3, 4)
result = is_subsequence_tuple(sub_tuple, (1, 2, 3, 4, 5))
print(result)

True

In [200]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = 10
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [201]:
#Set Based Practice Problem :
# 1. Create a set with integers from 1 to 5.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [202]:
# 2. Add an element to a set.
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [203]:
# 3. Remove an element from a set.
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6}

In [204]:
# 4. Check if an element exists in a set.
element_exists = 3 in my_set
print(element_exists)

False

In [205]:
# 5. Find the length of a set without using the `len()` function.
set_length = sum(1 for _ in my_set)
print(set_length)

5

In [206]:
# 6. Clear all elements from a set.
my_set.clear()
print(my_set)

set()

In [207]:
# 7. Create a set of even numbers from 1 to 10.
even_set = {num for num in range(1, 11) if num % 2 == 0}
print(even_set)

{2, 4, 6, 8, 10}

In [208]:
# 8. Create a set of odd numbers from 1 to 10.
odd_set = {num for num in range(1, 11) if num % 2 != 0}
print(odd_set)

{1, 3, 5, 7, 9}

In [209]:
# 9. Find the union of two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [210]:
# 10. Find the intersection of two sets.
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [211]:
# 11. Find the difference between two sets.
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [212]:
# 12. Check if a set is a subset of another set.
subset_check = set1.issubset(set2)
print(subset_check)

False

In [213]:
# 13. Check if a set is a superset of another set.
superset_check = set1.issuperset(set2)
print(superset_check)

False

In [214]:
# 14. Create a set from a list.
my_list = [1, 2, 3, 4, 5]
set_from_list = set(my_list)
print(set_from_list)

{1, 2, 3, 4, 5}

In [215]:
# 15. Convert a set to a list.
my_set = {1, 2, 3, 4, 5}
list_from_set = list(my_set)
print(list_from_set)

[1, 2, 3, 4, 5]

In [216]:
# 16. Remove a random element from a set.
my_set.pop()
print(my_set)

{2, 3, 4, 5}

In [217]:
# 17. Pop an element from a set.
my_set.pop()
print(my_set)

{3, 4, 5}

In [218]:
# 18. Check if two sets have no elements in common.
no_common_elements = set1.isdisjoint(set2)
print(no_common_elements)

False

In [219]:
# 19. Find the symmetric difference between two sets.
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 4, 5}

In [220]:
# 20. Update a set with elements from another set.
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

In [221]:
# 21. Create a set of the first 5 prime numbers.
prime_set = {2, 3, 5, 7, 11}
print(prime_set)

{2, 3, 5, 7, 11}

In [222]:
# 22. Check if two sets are identical.
set3 = {1, 2, 3}
set4 = {3, 2, 1}
identical_check = set3 == set4
print(identical_check)

True

In [223]:
# 23. Create a frozen set.
frozen_set = frozenset({1, 2, 3})
print(frozen_set)

frozenset({1, 2, 3})

In [224]:
# 24. Check if a set is disjoint with another set.
disjoint_check = set1.isdisjoint(set2)
print(disjoint_check)

False

In [225]:
# 25. Create a set of squares of numbers from 1 to 5.
squared_set = {num**2 for num in range(1, 6)}
print(squared_set)

{1, 4, 9, 16, 25}

In [226]:
# 26. Filter out all even numbers from a set.
filtered_set = {x for x in my_set if x % 2 != 0}
print(filtered_set)

{3, 5}

In [227]:
# 27. Multiply all elements in a set by 2.
multiplied_set = {x * 2 for x in my_set}
print(multiplied_set)

{8, 10, 6}

In [228]:
# 28. Create a set of random numbers.
import random
random_set = {random.randint(1, 100) for _ in range(5)}
print(random_set)

{56, 80, 59, 78}

In [229]:
# 29. Check if a set is empty.
is_empty = not bool(my_set)
print(is_empty)

False

In [230]:
# 30. Create a nested set (hint: use frozenset).
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

In [231]:
# 31. Remove an element from a set using the discard method.
my_set.discard(2)
print(my_set)

{3, 4, 5}

In [232]:
# 32. Compare two sets.
set5 = {1, 2, 3}
set6 = {3, 4, 5}
comparison_result = (set5 > set6) - (set5 < set6)
print(comparison_result)

0

In [233]:
# 33. Create a set from a string.
string = "hello"
string_set = set(string)
print(string_set)

{'h', 'e', 'o', 'l'}

In [234]:
# 34. Convert a set of strings to a set of integers.
string_set = {"1", "2", "3"}
int_set = {int(x) for x in string_set}
print(int_set)

{1, 2, 3}

In [235]:
# 35. Convert a set of integers to a set of strings.
int_set = {1, 2, 3}
string_set = {str(x) for x in int_set}
print(string_set)

{'3', '1', '2'}

In [236]:
# 36. Create a set from a tuple.
my_tuple = (1, 2, 3, 4, 5)
tuple_set = set(my_tuple)
print(tuple_set)

{1, 2, 3, 4, 5}

In [237]:
# 37. Convert a set to a tuple.
my_set = {1, 2, 3, 4, 5}
set_tuple = tuple(my_set)
print(set_tuple)

(1, 2, 3, 4, 5)

In [238]:
# 38. Find the maximum value in a set.
max_value = max(my_set)
print(max_value)

5

In [239]:
# 39. Find the minimum value in a set.
min_value = min(my_set)
print(min_value)

1

In [240]:
# 40. Create a set from user input.
user_input = input("Enter elements separated by commas: ")
user_set = set(user_input.split(','))
print(user_set)

{'3', '1', '2'}

In [241]:
# 41. Check if the intersection of two sets is empty.
intersection_empty = set1.isdisjoint(set2)
print(intersection_empty)

False

In [242]:
# 42. Create a set of the first 5 Fibonacci numbers.
def fib(n):
    if n==0:
      return 0
    if n==1:
      return 1
    return fib(n-1)+fib(n-2)

In [243]:
n=5
fib_set = set([fib(i) for i in range(n+1)])
fib_set

{0, 1, 2, 3, 5}

In [244]:
# 43. Remove duplicates from a list using sets.
my_list = [1, 2, 2, 3, 3, 4, 5]
unique_elements = set(my_list)
print(unique_elements)

{1, 2, 3, 4, 5}

In [245]:
# 44. Check if two sets have the same elements, regardless of their count.
set7 = {1, 2, 3}
set8 = {1, 1, 2, 3, 3}
same_elements = set7 == set8
print(same_elements)

True

In [246]:
# 45. Create a set of the first `n` powers of 2.
n = 5
powers_of_2_set = {2**i for i in range(n)}
print(powers_of_2_set)

{1, 2, 4, 8, 16}

In [247]:
# 46. Find the common elements between a set and a list.
my_list = [1, 2, 3, 4, 5]
common_elements = set(my_list).intersection(my_set)
print(common_elements)

{1, 2, 3, 4, 5}

In [248]:
# 47. Create a set of the first `n` triangular numbers.
def triangular_number(n):
    return {i*(i+1)//2 for i in range(1, n+1)}

In [249]:
triangular_numbers = triangular_number(5)
print(triangular_numbers)

{1, 3, 6, 10, 15}

In [250]:
# 48. Check if a set contains another set as a subset.
subset_check = set1.issubset(set2)
print(subset_check)

False

In [251]:
# 49. Create a set of alternating 1s and 0s of length `n`.
n = 10
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(alternating_set)

{0, 1}

In [252]:
# 50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
merged_set = set1.union(set2)
print(merged_set)

{1, 2, 3, 4, 5}